*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    overflow-x:hidden ;
    background-color: whitesmoke;
}
.form_comtact button
{
    background-color: red;
    border-radius: 50px;
}
.img_partenariat
{
    position: relative;
}
h1{
    position: absolute;
    top: 35%;
    left: 31%;
    color: white;
}
.centre
{
    text-align: center;
}
.d1
{
    width: 100rem;
    margin: 0;
}
#filtre_img
{
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}
.contenue_soutenir_nos_action
{
    top: 10%;
}
.img-nous_soutenir
{
    height: 35rem;
}
.div_video_soutenir
{
    margin-left: 3rem;
}
.detail_soutenir
{
    background-color: red;
    top: 90%;
}

/*ant*/
.img_container
{
    background-image: url("../img/main.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
}
.video{
    top: 12%;
    width: 50rem;
}
.description
{
    top: 12%;
    width: 30rem;
    right: 5%;
}
.div_detail
{
    background-color: red;
    margin-top: -5rem;
}
.logo_partenaires
{
    margin: 10px;
}
.footer
{
    background-image: url("../img/footer.png");
    background-size: cover;
    width: 100%;
}
.footer_red
{
    background-color: red;
    width: 100%;
    height: 80px
}
.col_footer
{
    color: white;
}




