*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

#nav_bar
{
    margin-top: 25px;
}
#form_lang
{
    margin-top: 11px;
}
.col-md-3 a{
    margin-left: 55px;
}
.col-md-9 ul{
    margin-left: 100px;
}
.navbar-nav li{
    margin: 10px 35px;
}
#section_resau_entrerprise
{
    margin: 10px 55px;
}
hr{
    width: 15%;
    height: 3rem;
    background-color: black;
}