@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;   
}
.dropdown-toggle::after
{
    color: #CE0033;
}
.btn-contact 
{
   background-color: #CE0033;
   border-radius: 50px;
   width: 100px;
   height: 40px;
   color: #FFFFFF;
   font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

}
.items-partenariats
{
    border-bottom: 5px solid #CE0033;   
}
.img_banner
{
    filter: saturate(0);
}
h1{
    position: absolute;
    top: 45%;
    left: 31%;
    color: white;
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
}
.hr_bar{
    width: 125px;
    height: 5px;
    background-color: black;
    color: black;
    margin-top: -10px;
}
h2
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #CE0033;
    padding-bottom: 15px;
}
.description-reseau-des-entreprises p
{
    font-size: 24px;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
    color: #000000;
    padding: 0 30px;
}
.description-reseau-des-entreprises h3
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 171.4%;
    color: #CE0033;
    padding: 0 30px;
}
.video_reseau_des_entreprise iframe
{
    margin-top: 20px;
    width: 96%;
    height: 450px;
    margin-left: 55px;
    border-radius: 15px;
}
.contenu-carousel h3
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    color: #CE0033;
}
.contenu-carousel button
{
    margin:2rem 0;
    background-color: #CE0033;
    border-radius: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.vido-soutenir-nos-actions iframe
{
    margin-top: 20px;
    width: 95%;
    height: 450px;
    margin-left: 55px;
    border-radius: 15px;
}
.detail_soutenir
{
    background-color: #CE0033;
    top: 90%;
}
.div_formation h4{
    color: white;
    text-align: center;
    padding:0 5px;
    font-size: 30px;
}
.div_formation p{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}
.btn-soutenir
{
    width: 200px;
    margin: 0 auto;
    color: #CE0033;
    background-color: #ffffff;
    border-radius: 50px;
    font-size: 24px;
    font-family: bold;
}
.btn_fabrique
{
    width: 292px;
    height: 63px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #CE0033;
    border-radius: 50px;
    font-size: 24px;
    font-family: bold;   
}
/*ant*/
.img_container
{
    background-image: url("../img/main2.jpg");
    background-size: cover;
    width: 100%;
    height: 900px;
    padding: 0;
    margin: 0;
    
}
.detail-soutenir-nos-actions h2
{
    margin-top: 60px;
    color: white;
    font-family: bold;
    padding: 5px;
    
}
.detail-soutenir-nos-actions p
{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
}
.div_detail
{
    background-color: #CE0033;
    margin-top: -3rem;
    z-index: 1;
}
.div_formation
{
    margin-top: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}
.bar_separation{
  border-right: 3px solid;
  border-left: 3px solid;
}
.img_card
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.fabrique p
{

    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #000000;
    padding: 25px;
}
.text_card_body
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #000000;
    text-align: center;
    padding: 30px;
}
.div_card
{
    border-radius: 50px;
}
.grille
{
    display: grid;
    width: 100%;
    height: auto;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fill,250px);
    justify-content: center;
    grid-gap: 20px 25px;
}
.grid-item
{
    width: 250px;
    height:250px;
}
.footer
{
    background-image: url("../img/footer.png");
    background-size: cover;
    width: 100%;
}
.footer_red
{
    background-color: #CE0033;
    width: 100%;
    color: white;
}
.footer_red span
{
    margin: 50px;
    color: #FFFFFF;
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.col-footer p
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.84);
    margin-left: 0;
    text-decoration: none;
}
.col-footer p>a
{

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.84);
    margin-left: 0;
    text-decoration: none;
}
.section_fabrique
{
    margin: 0 55px;
}
.div_footer_span
{
    margin-top: 120px;

}
.heart
{
    width: 40px;
}
.reseau_sociaux
{
    width: 50px;

}
#email
{
    width: 250px;
    height: 58px;
    border: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#joindre
{
    width: 100px;
    height: 58px;
    background-color:#CE0033;
    color: white;
    font-size: 24px;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media screen and (max-width: 450px) {
    h1
    {
        position: absolute;
        top: 20%;
        left: 18%;
        color: white;
        font-family:'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 98px;
    }
    h2 
    {
        font-size: 21px;
        padding: 0 10px;
    }
    
    .hr_bar
    {
        margin: 0 50px;
    }
    .centre h3
    {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 65px;
        color: #CE0033;
    }
    .logo-simplon-header
    {
        width: 100px;
    }
    .video_reseau_des_entreprise iframe
    {
        width: 100%;
        margin: 0 15px;
    }
    .vido-soutenir-nos-actions iframe
    {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    #section-le-reseaux-des-entreprises
    {
        margin-top: 0;
    }
    .description-reseau-des-entreprises p
    {
        padding: 5px;
    }
    .description-reseau-des-entreprises h3
    {
        padding: 5px;
        font-size: 20px;
        
    }
    
    .bar_separation{
        border-right: none;
        border-left: none;
        border-top: 3px solid;
        border-bottom: 3px solid;
      }
      .reseau_sociaux
      {
          width: 50px;
          height: 50px;
      }
      .fabrique p 
      {
          padding: 0 30px;
      }
      .section_fabrique
        {
            margin: 0 5px;
        }
        .grille
        {
            display: grid;
            width: 100%;
            height: auto;
            margin: 30px auto;
            grid-template-columns: repeat(auto-fill,100px);
            justify-content: center;
            grid-gap: 20px 25px;
        }
        .grid-item
        {
            width: 100px;
            height:auto;
        }
      #joindre
      {
          margin-left: -40px;
      }
      .description-reseau-des-entreprises
      {
        margin: 0 15px;
        padding: 40px;
        font-size: 15px;
        margin-top: -90px;
      }
      .detail-soutenir-nos-actions h2
      {
          margin: 0 2px;
          padding: 20px;
          font-size: 23px;
          font-family: 'Nunito Sans', sans-serif;
          text-align: center;
      }
      .detail-soutenir-nos-actions p
      {
          margin: 0 5px;
          padding: 30px;
          font-size: 23px;
          font-family: 'Nunito Sans', sans-serif;
      }
      .img_container 
      {
          height: 100%;
      }
      .div_detail
      {
          margin-top: -2rem;
      }
      
  }
 
  /* Accueil */
.lien_item
{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 0 1rem;
}
.logo_simplon_footer
{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 50px;
    margin-top: -px;
}
/*carousel*/
.testimonial {
    overflow: hidden;
    position: relative;

  }

  .testimonial div {
    width: 100%;
    height: auto;
  }
  
  .owl-theme .owl-controls .owl-page span {
    border: 2px solid #2a3d7d;
    background: #fff !important;
    border-radius: 50% !important;
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-page.active span,
  .owl-theme .owl-controls .owl-page:hover span {
    background: red !important;
    border-color: red;
  }
  @media only screen and (max-width: 767px) {
    .testimonial {
      padding: 20px;
      text-align: center;
    }
    .testimonial .pic {
      display: block;
      position: static;
      margin: 0 auto 15px;
    }
  }